# dependencies
/node_modules
/.pnp
.pnp.js

.idea

# testing
/coverage

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
.pnp.*
.pnpm-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo

.expo